body {
    margin: 0 auto;
    padding: 25px;
    font-family: "El Messiri", sans-serif;
    background-color: #CFFDE1;
    font-weight: 400;
    color:#3D5656;
    line-height: 1.666;
    text-align: center;
    
  }
  
  .h1 {
    font-weight: 900;
    font-size: 500%;
    color: #3D5656;
    line-height: 1.2;
    margin-top: 4rem;
    
  }

  h1 span{
    padding: 5px 15px;
    background-color:#68B984;
    color: #FED049;
   
  }

  .dictionary{
        display:flex; 
        /* make in a row line all entries */
        flex-wrap: wrap;
        /* 3,2,1 ta kore resize kore show korbe */
        justify-content:space-between ;    
        /* space chole aslo card er moddhe  */
        margin: 4rem auto;
        max-width: 90%;
        
  }

  .dictionary> .term{
    background-color: aliceblue;
    margin-bottom: 3rem;
    transition: all 100ms ease-in-out;
    /* margin: 50px 10px; */
    padding: 2rem;
    max-width:20rem;
    border-radius: 3px;
    box-shadow: 0 2px 5px #ccc;
    text-align: center;
    /*text-align:middle;*/
  
  }

.emoji{
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}

  .dictionary> .term> dt{
    margin-bottom: 1rem;
    /* name & meaning between place */
  }

  dt{
    color: #26aa68;
  }

  dt span{
     font-size: 200%;
     font-weight: 900;
  }

  dd{
    font-size: 92.5%;
    margin-left: 0;
  }

  dd dt{
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

